<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quake Table Control System </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/renderer.js') }}" defer></script>
</head>
<header>
    <h1>Quake Table Control System</h1>
    <div class="status-indicator">
        <span id="statusDot" class="disconnected"></span>
        <span id="statusText">Disconnected</span>
    </div>
</header>
<body>
    <div class="container">
        <div class="controls-container">
            <div class="controls-card">
                <h2>Manual Controls</h2>
                <h3>Frequency</h3>
                <label>
                    <input type="range"
                        id="freqRange"
                        min="0"
                        max="27"
                        value="0"
                        step="0.5"
                        class="slider">
                    <span id="freqVal">0</span> Hz<br>
                </label>
                <h3>Displacement</h3>
                <p> From Centre</p>
                <label>
                    <input type="range"
                        id="dispRange"
                        min="0"
                        max="60"
                        value="0"
                        step="0.5"
                        class="slider">
                    <span id="dispVal">0</span> mm<br>
                </label>
                <button id="sendManualButton">Send Manual Command</button>
            </div>

            <div class="cosine-card">
                <h2>Cosine Waveform Generation</h2>
                <h3>Displacement</h3>
                <label>
                    <input type="range"
                        id="waveGenDispRange"
                        min="0"
                        max="60"
                        value="0"
                        step="0.5"
                        class="slider">
                    <span id="waveGenDispVal">0</span> mm<br>
                </label>
                <h3>Peak Ground Speed</h3>
                <label>
                    <input type="range"
                        id="GsRange"
                        min="0"
                        max="12"
                        value="0"
                        step="0.5"
                        class="slider">
                    <span id="GsVal">0</span> m/s<br>
                </label>

                <h3>Peak Ground Acceleration</h3>
                <label>
                    <input type="range"
                        id="GaRange"
                        min="0"
                        max="40"
                        value="0"
                        step="0.5"
                        class="slider">
                    <span id="GaVal">0</span> m/s^2<br>
                </label>

                <h3>Simulation Duration</h3>
                <label>
                    <input type="range"
                        id="SimDurationRange"
                        min="0"
                        max="40"
                        value="0"
                        step="0.5"
                        class="slider">
                    <span id="SimDurationVal">0</span> s<br>
                </label>

                <h3>Percent Damped</h3>
                <label>
                    <input type="range"
                        id="dampedRange"
                        min="0"
                        max="95"
                        value="0"
                        step="5"
                        class="slider">
                    <span id="percentDampedVal">0</span> %<br>
                </label>
                <button id="sendDataButton">Begin Simulation</button>
            </div>
        </div>
        <div class="button-container">
            <button id="stopSimulationButton">Stop Simulation</button>
            <button id="resetPositionButton">Reset Position</button>
        </div>
        <p id="response"></p>

        <div class="graph-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

</body>
</html>
