<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quake Table Control System </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='renderer.js') }}"></script>
</head>
<body>
    <div class="controls card">
        <h2>Manual Controls</h2>
        <label>
        <input type="range"
            min="0"
            max="100"
            value="50"
            step="10"
            class="slider">
    </label>
    </div>

    <div class="cosine card">
        <h2>Cosine Waveform Generation</h2>
        <label>
        <input type="range"
            min="0"
            max="100"
            value="50"
            step="10"
            class="slider">
    </label>
        <label for="grndSpeed">Peak Ground Speed(m/s)</label>
        <input type="text" id="grndSpeed"><br><br>
        <label for="grndAcceleration">Peak Ground Acceleration(m/s^2)</label>
        <input type="text" id="grndAcceleration"><br><br>
        <label for="numOfCycles">Number of Cycles</label>
        <input type="text" id="numOfCycles"><br><br>
        <input type="text" id="percentDamped" disabled>
        <label for="percentDamped">Percent Damped</label>
        <input type="checkbox" id="dampedCheckbox">
        <label for="dampedCheckbox">Damped</label>
    </div>
    <button id="sendDataButton">Send Movement Data</button>
    <p id="response"></p>

</body>
</html>
