<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quake Table Control System </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='renderer.js') }}"></script>
</head>
<body>
    <div class="card">
        <label>
        <input type="range"
            min="0"
            max="100"
            value="50"
            step="10"
            class="slider">
    </label>
    </div>
    <button id="sendDataButton">Send Movement Data</button>
    <p id="response"></p>

</body>
</html>
